@import "tailwindcss";

/* map Tailwind font utilities to next/font variables */

:root {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* set defaults */

body {
  font-family: var(--font-sans);
}